@import "../variables.scss";

.option {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px;
  border-bottom: 1px solid $gray-200;

  &.focusedoption {
    background-color: $gray-100;
  }

  svg + span {
    margin-left: 10px;
  }
}
